.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*
cookbooks/*/.delivery/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb

# Random cruft
.DS_Store
.chef/syntaxcache

# Things downloaded from chef server
acls/*
clients/*
containers/*
cookbook_artifacts/*
environments/*
groups/*
nodes/*
policy_groups
org.json
members.json
invitations.json
